[submodule "front-react"]
	path = front-react
	url = git@github.com:facebook/create-react-app.git
[submodule "full-react-node-express-graphql"]
	path = full-react-node-express-graphql
	url = git@github.com:kriasoft/react-starter-kit.git
[submodule "back-node-express-mongoose"]
	path = back-node-express-mongoose
	url = git@github.com:diegohaz/rest.git
[submodule "back-node-graphql"]
	path = back-node-graphql
	url = git@github.com:glennreyes/graphpack.git
[submodule "back-node-express-postgres"]
	path = back-node-express-postgres
	url = git@github.com:DayOnePl/dos-server.git
[submodule "full-vue-node-express-mongo"]
	path = full-vue-node-express-mongo
	url = git@github.com:icebob/vue-express-mongo-boilerplate.git
[submodule "full-angular-node-express-mongoose"]
	path = full-angular-node-express-mongoose
	url = git@github.com:DavideViolante/Angular-Full-Stack.git
[submodule "back-python-flask"]
	path = back-python-flask
	url = git@github.com:antkahn/flask-api-starter-kit.git
[submodule "full-java-spring-react"]
	path = full-java-spring-react
	url = git@github.com:pugnascotia/spring-react-boilerplate.git
[submodule "full-java-spring-angular-or-react"]
	path = full-java-spring-angular-or-react
	url = https://github.com/jhipster/generator-jhipster
[submodule "full-python-flask-react"]
	path = full-python-flask-react
	url = https://github.com/dternyak/React-Redux-Flask
[submodule "front-angular"]
	path = front-angular
	url = https://github.com/angular/angular-cli
